HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Binaries and Package Files
*.jar
*.rar
*.war
*.iso
*.tar
*.zip
*.ear
*.sar
*.class
*.tar.gz

# Maven
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse project files ###
.settings
.classpath
.project


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
