.maindiv {
  padding: 20px;
  height: 85%;
  position: center;
  position: relative;

  width: 95%;

  .centerdiv {

    width: 100%;
    margin: 0;
    position: absolute;

    .tablepage {
      position: relative;
      width: 100%;
          mat-form-field {
            width: 90%;
            padding-left: 20px;
          }
          table {
            width: 100%;
          }
    }
    .nodetable {
        table {
          width: 100%;
        }
    }
  }

}


.example-card {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: lightskyblue;
}

.edgenodes {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.edgenodescard{
  margin: 0 auto;
  display: inline-block;
  padding-right: 20px;
}
