.main {
    .menu {

        .akraino-icon {
            padding-right:100px;
        }

        .menu-toolbar {
            .eliot-menu {
                font-size: 14px;
                font-weight: bold;
            }
            .home {
                margin-left: 07px;  
            }
        }
    
        .home {
            font-size: 25px;
            font-weight: bold;
            // padding-left: 20px;
        }

        .other-button {
            font-weight: bold;
        }

        .power-button {
            position: absolute;
            right: 0px;
            margin-right: 5px;
        }

 
    }
    .sidemenu {
        mat-sidenav-container {
            height: 10vh;
        }
    }
}
button:hover {
    background-color: black;
    color: turquoise;
    font-weight: bold;
}