<div class="main">
  <div class="menu">

    <mat-toolbar color="primary" *ngIf="(toolbarService.visible|async)">

      <mat-toolbar-row>
        <button mat-icon-button mat-raised-button color="primary">
          <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
          <mat-icon>{{menuicon}}</mat-icon>
        </button>
        <div *ngFor="let item of toolbarmenu">
          <span style="padding-left: 10px;" *ngIf="item.children && item.children.length > 0">
            <button mat-raised-button color="primary" style="font-size: 15px;" [matMenuTriggerFor]="menu.childMenu">{{item.displayName}}</button>
            <app-menu-item #menu class="menu-item"  [items]="item.children"></app-menu-item>

          </span>
          <span *ngIf="!item.children">
            <span *ngIf="item.displayName=='ELIOT';else others">
              <button class="home" style="margin-left: 07px;" mat-raised-button color="primary"  [routerLink]="item.route">{{item.displayName}}</button>
            </span>
            <ng-template #others>
              <button mat-button>{{item.displayName}}</button>
            </ng-template>

          </span>
          <span *ngIf="item.iconName">
            <button mat-raised-button mat-icon-button color="primary" class="power-button" [matMenuTriggerFor]="menu.childMenu">
              <mat-icon>{{item.iconName}}</mat-icon>
              <app-menu-item #menu [items]="item.children"></app-menu-item>
            </button>
          </span>
          
        </div>

      </mat-toolbar-row>
    </mat-toolbar>
    <!-- <div markdown [src]="post"></div> -->
  </div>

  <!-- <div class="sidemenu">
      <mat-sidenav-container >
        <mat-sidenav #sidenav>
          <mat-nav-list>
            <a mat-list-item [matMenuTriggerFor]="network"> Network Management </a>
          </mat-nav-list>
  
        </mat-sidenav>
        <mat-sidenav-content>
           <router-outlet></router-outlet> 
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div> -->
</div>