<div class="history-main">
    <app-toolbar></app-toolbar>
    <div class="description-header">
        <h4>{{description}}</h4>
    </div>

    <div class="status-radio-grp">
        <label id="status-radio-group-label">Select Current status / Past status for App deployment history</label>
        <mat-radio-group (change)="selectedStatus($event)" aria-labelledby="status-radio-group-label"
            class="status-radio-group" [(ngModel)]="statusSelected">
            <mat-radio-button class="status-radio-button" *ngFor="let status of statusHistoryArray" [value]="status">
                {{status}}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngIf="currentStatus==true" class="current-status">
        <ng-template matStepLabel>Status of Current DEPLOYMENT</ng-template>

        <div class="current-status-deploy">

            <div class="current-status-heading">
                <h4>Current Status of Deployment of csar package </h4>
            </div>

            <div class="mat-elevation-z8 current-history-table">

                <table mat-table [dataSource]="currentDeployDataSource">

                    <ng-container matColumnDef="appName">
                        <th mat-header-cell *matHeaderCellDef> App Name </th>
                        <td mat-cell *matCellDef="let deployCurrent"> {{deployCurrent.appName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="yamlName">
                        <th mat-header-cell *matHeaderCellDef> Yaml Name </th>
                        <td mat-cell *matCellDef="let deployCurrent"> {{deployCurrent.yamlName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nodeIp">
                        <th mat-header-cell *matHeaderCellDef> Node Ip </th>
                        <td mat-cell *matCellDef="let deployCurrent"> {{deployCurrent.nodeIp}} </td>
                    </ng-container>

                    <ng-container matColumnDef="runningStatus">
                        <th mat-header-cell *matHeaderCellDef> Running Status </th>
                        <td mat-cell *matCellDef="let deployCurrent"> {{deployCurrent.runningStatus}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="currentDeployColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: currentDeployColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            </div>
        </div>
    </div>

    <div class="past-status-heading" *ngIf="currentStatus==false">
        <h4>Past status of Deployment of csar package </h4>
    </div>

    <div class="accordian" *ngIf="currentStatus==false">
        <mat-accordion>
            <div class="past-status-panel" *ngFor="let month of monthDetails">
                <mat-expansion-panel (afterCollapse)="clearMonth(month.value)"
                    (afterExpand)="selectedMonth(month.value)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{month.monthName}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Please expand to view historical data
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="download-yaml-section">
                        <button mat-raised-button color="warning" (click)="downloadYaml()">
                            <mat-icon>{{month.iconName}}</mat-icon>{{month.displayName}}
                        </button>
                    </div>
                    <div class="historytable mat-elevation-z8">
                        <table mat-table [dataSource]="historyDataSource">
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggleJan() : null"
                                        [checked]="selection.hasValue() && isAllSelectedJan()"
                                        [indeterminate]="selection.hasValue() && !isAllSelectedJan()"
                                        [aria-label]="checkboxLabelJan()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabelJan(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let eliot"> {{eliot.date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="csarPackage">
                                <th mat-header-cell *matHeaderCellDef> App Csar Package </th>
                                <td mat-cell *matCellDef="let eliot"> {{eliot.csarPackage}} </td>
                            </ng-container>

                            <ng-container matColumnDef="yamlFile">
                                <th mat-header-cell *matHeaderCellDef> Yaml File </th>
                                <td mat-cell *matCellDef="let eliot"> {{eliot.yamlFile}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let eliot"> {{eliot.status}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="historyColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: historyColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
</div>