<div class="history-main">
    <app-toolbar></app-toolbar>
    <p style="padding: 20px;">{{description}}</p>
    <div class="accordian">
        <mat-accordion>
            <div *ngFor="let month of monthDetails">
            <mat-expansion-panel (afterCollapse)="clearMonth(month.value)" (afterExpand)="selectedMonth(month.value)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{month.monthName}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <button mat-stroked-button color="primary" (click)="downloadYaml()">
                        <mat-icon>{{month.iconName}}</mat-icon>{{month.displayName}}
                    </button>
                </div>
                <div class="mat-elevation-z8">
                    <div class="historytable">
                            <table mat-table [dataSource]="historyDataSource">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggleJan() : null"
                                            [checked]="selection.hasValue() && isAllSelectedJan()"
                                            [indeterminate]="selection.hasValue() && !isAllSelectedJan()"
                                            [aria-label]="checkboxLabelJan()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabelJan(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let eliot"> {{eliot.date}} </td>
                                </ng-container>

                                <ng-container matColumnDef="yamlFile">
                                    <th mat-header-cell *matHeaderCellDef> Yaml File </th>
                                    <td mat-cell *matCellDef="let eliot"> {{eliot.yamlFile}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let eliot"> {{eliot.status}} </td>
                                </ng-container>

                                <ng-container matColumnDef="download">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                    <td mat-cell *matCellDef="let eliot"> 
                                        <button mat-icon-button color="primary">
                                            <mat-icon>{{month.iconName}}</mat-icon>{{month.displayName}}
                                        </button> 
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="historyColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: historyColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
</div>