.history-main {
    // padding: 30px;
    margin: 0 auto;
    // justify-content: center;
    // align-items: center;

    .description-header {
        display: flex;
        justify-content:center;
        padding: 20px;
    }
    .status-radio-grp {
        padding-left: 20px;
    }

    .current-status {
        padding-left: 20px;
        padding-top: 20px;
        .current-status-deploy {
            padding-bottom:20px;
            .current-status-heading {
                display: flex;
                justify-content:center;
                padding: 20px;
            }
            .current-history-table {
                background: linear-gradient(to right, #ffafbd, #bbdfe6);
                table{
                    width:100%;
                    padding:20px;
                    background: linear-gradient(to right, #ffafbd, #bbdfe6);
                }
                mat-paginator {
                    background: linear-gradient(to right, #ffafbd, #bbdfe6);
                }
            }
        }
    }
    .past-status-heading {
        display: flex;
        justify-content:center;
        padding: 20px;
    }

    .accordian {
        width: 90%;
        margin: 0 auto;
        padding-bottom:10px;
        .past-status-panel {
            padding-bottom:07px;
            mat-expansion-panel {
                background: linear-gradient(to right, rgb(145, 224, 241), rgb(206, 255, 174));
            }
            .download-yaml-section {
                padding-bottom: 13px;
            }
        }
        .historytable {
            table {
                width: 100%;
                padding-top: 10px;
                background: linear-gradient(to right, rgb(145, 224, 241), rgb(206, 255, 174));
            }
            mat-paginator {
                background: linear-gradient(to right, rgb(145, 224, 241), rgb(206, 255, 174));
            }
        }
    }

    .status-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }
      
    .status-radio-button {
       margin: 5px;
    }

    
}