.example-card {
    max-width: 300px;
    background-color: lightskyblue;
    // background-image:url('./../../assets/images/iot.jpg');height:100%;background-position: center;background-repeat: no-repeat;background-size:cover;
    // max-height: 200px;
}
  
.example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('./../../assets/ac_off.png');
    // size: 50px;
    // background-size: 50%;
    background-size: cover;
}