<!-- 'Node Name','Status','Roles','Age','Version','Internal IP','External IP','OS Image','Kernel','Container Runtime' -->
<div class="maindiv">
<div class="table" *ngIf="display">

    <table mat-table [dataSource]="nodeArrayList">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let i = index "> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="nodeName">
            <th mat-header-cell *matHeaderCellDef> Node Name </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.nodeName}} </td>
        </ng-container>

        <ng-container matColumnDef="nodeStatus">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.nodeStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="nodeRole">
            <th mat-header-cell *matHeaderCellDef> Roles </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.nodeRole}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> age </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.age}} </td>
        </ng-container>

        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef> version </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.version}} </td>
        </ng-container>

        <ng-container matColumnDef="internalIp">
            <th mat-header-cell *matHeaderCellDef> Internal IP </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.internalIp}} </td>
        </ng-container>

        <ng-container matColumnDef="externalIp">
            <th mat-header-cell *matHeaderCellDef> External IP </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.externalIp}} </td>
        </ng-container>

        <ng-container matColumnDef="osImage">
            <th mat-header-cell *matHeaderCellDef> OS Image </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.osImage}} </td>
        </ng-container>

        <ng-container matColumnDef="kernel">
            <th mat-header-cell *matHeaderCellDef> Kernel Version </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.kernel}} </td>
        </ng-container>

        <ng-container matColumnDef="containerRuntime">
            <th mat-header-cell *matHeaderCellDef> Container Runtime </th>
            <td mat-cell *matCellDef="let eliot"> {{eliot.containerRuntime}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nodeColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: nodeColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



</div>

<!-- <div style="padding: 20px">
    <div>
        <mat-card class="example-card">

            <mat-card-header>
                <mat-card-title>nodes</mat-card-title>

            </mat-card-header>

            <mat-card-content>
                <div>
                    <p>
                        {{this.message}}
                    </p>
                </div>
            </mat-card-content>

        </mat-card>
    </div>

    
</div> -->
<!-- <div class="master">
    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Eliot Nodes</mat-card-title>

        </mat-card-header>

        <mat-card-content>
            <div>
                <div>
                    <p>
                        {{this.nodeArrayList[0].nodeName}}
                    </p>
                </div>
                <p>
                    {{this.nodeArrayList[0].nodeStatus}}
                </p>
                <p>
                    {{this.nodeArrayList[0].nodeRole}}
                </p>

            </div>
        </mat-card-content>

    </mat-card>
</div>

<div class="edgenodes">
        <div id="{{ 'wave' + i }}" class="edgenodescard" *ngFor="let episode of nodeArrayList; let i = index">
            <mat-card class="example-card">

                <mat-card-header>
                    <mat-card-title>Eliot Nodes</mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <div>
                        <div>
                            <p>
                                {{this.nodeArrayList[i].nodeName}}
                            </p>
                        </div>
                        <p>
                            {{this.nodeArrayList[i].nodeStatus}}
                        </p>
                        <p>
                            {{this.nodeArrayList[i].nodeRole}}
                        </p>
                   </div>
                </mat-card-content>

            </mat-card>
        </div>
</div> -->
</div>