.maindiv {
    // padding: 20px;
    height: 100%;
    .toolbar {
        padding-bottom:30px;
    }

    width: 100%;
    .whole-features {
        padding-top: 20px;
        

    .dropdown {

        padding-bottom: 40px;
        // padding: 30px;
        right: 0;
        .options {
            float: right;
            padding-right: 20px;
            .filter {
                padding-left: 20px;
            }
        }
        position: relative;
        mat-form-field {
            right: 0;
            position: relative;   
        }
    }

    .tablepage {

        position: relative;
        .filter {
            width: 70%;
            padding-left: 20px;
        }
        .podtable {
            table {
                width: 100%;
            }
        }

    }
}
}