.uninstall-header {
    display: flex;
    justify-content:center;
    padding: 20px;
}

.uninstall-table {
    table {
        width:100%;
        background: linear-gradient(to right, rgb(145, 224, 241), rgb(206, 255, 174));
    }
    mat-paginator {
        background: linear-gradient(to right, rgb(145, 224, 241), rgb(206, 255, 174));
    }
}