// .main {
//     .menu {
//         .options {
//             .home {
//                 font-size: 25px;
//             }
//             .others {
//                 // padding: 0 14px;
//             }

//         }
//     }
//     .sidemenu {
//         mat-sidenav-container {
//             height: 112vh;
//         }
//     }
// }

.main {
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 0px;
    height: auto;
}

body {
    margin: auto;
}